alembic==1.0.10
arrow>=0.13.1
Babel>=2.6.0
binaryornot>=0.4.4
bleach>=3.1.0
blinker>=1.4
bootstrap-env>=1.0.2
Bootstrap-Flask>=1.0.10
certifi>=2019.3.9
chardet>=3.0.4
Click>=7.0
cookiecutter>=1.6.0
dominate>=2.3.5
elasticsearch>=7.0.1
Flask>=1.0.3
Flask-Admin>=1.5.3
Flask-Babel>=0.12.2
Flask-Bootstrap>=3.3.7.1
Flask-CKEditor>=0.4.3
Flask-Login>=0.4.1
Flask-Mail>=0.9.1
Flask-Migrate>=2.4.0
Flask-Moment>=0.7.0
Flask-PageDown>=0.2.2
Flask-Script>=2.0.6
Flask-SQLAlchemy>=2.4.0
Flask-WTF>=0.14.2
future>=0.17.1
guess-language-spirit>=0.5.3
gunicorn>=19.9.0
idna>=2.8
itsdangerous>=1.1.0
Jinja2>=2.10.1
jinja2-time>=0.2.0
Mako>=1.0.10
Markdown>=3.1.1
MarkupSafe>=1.1.1
packaging>=19.0
poyo>=0.4.2
psycopg2>=2.8.2
psycopg2-binary>=2.8.2
PyJWT>=1.7.1
pyparsing>=2.4.0
python-dateutil>=2.8.0
python-dotenv>=0.10.2
python-editor>=1.0.4
pytz>=2019.1
requests>=2.22.0
six>=1.12.0
SQLAlchemy>=1.3.3
urllib3>=1.25.2
virtualenv>=16.6.0
visitor>=0.1.3
webencodings>=0.5.1
Werkzeug>=0.15.4
whichcraft>=0.5.2
WTForms>=2.2.1
