.container{

}

.grid{
    display: flex;
}

.old_hero{
    position: relative;
    color: #FFF;
    background-color: #117bf3;
    background-position: right center, center center;
    background-repeat: no-repeat,no-repeat;
    font-size: 17px;
    line-height: 1.53333333;
    overflow: hidden;
}

.old-hero .-title {
    font-size: 27px;
    line-height: 1.53333333;
    margin-bottom: 12px;
}

.site-footer--container{
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 32px 12px 12px 12px;
    padding-top: 32px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
}

.site-footer--logo {
    flex: 0 0 64px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 64px;
    margin: -12px 0 32px 0;
    margin-top: -12px;
    margin-right: 0px;
    margin-bottom: 32px;
    margin-left: 0px;
}