<ul class="well">
    <div class="media">
        <a class="pull-left" href="{{ url_for('main.user', username=p.author.username) }}">
            <img class="media-object" src="{{ p.author.gravatar(70) }}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{_('Post')}}</h4>
            {% set user_link %}
            <a href="{{ url_for('main.user', username=p.author.username) }}">
                {{ p.author.username }}
            </a>{% endset %}
            <p class="text-right">by user: {{ _('%(username)s',username=user_link) }}</p>
            <p>
                {%if p.body_html %}
                {{ p.body_html | safe}}
                {% else %}
                {{ p.body}}
                {% endif %}
            </p>
            <ul class="list-inline list-unstyled">

                <li>|</li>
                <span><i class="glyphicon glyphicon-comment"></i>
                    <a href="{{url_for('main.article',id=p.id)}}" >
                       {{ _('%(count)d comments', count=p.comments.count()) }}
                    </a>
                </span>
                <li>|</li>

                {% if current_user == p.author %}
                <li>|</li>
                <a href="{{url_for('main.edit',id=p.id)}}" >
                    <span class="glyphicon glyphicon-pencil">{{_('edit')}}</span></a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('main.edit', id=p.id) }}">
                    <span class="label label-danger">{{_('Edit [Admin]')}}</span>
                </a>
                <li>|</li>
                {% endif %}

                {% if current_user == p.author %}
                <li>|</li>
                <a href="{{url_for('main.article_delete',id=p.id)}}" >
                    <span class="glyphicon glyphicon-remove">{{_('remove')}}</span></a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('main.article_delete', id=p.id) }}">
                    <span class="label label-danger">{{_('Delete [Admin]')}}</span>
                </a>
                <li>|</li>
                {% endif %}
                <li>|</li>

                <li>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </li>
                <li>|</li>

                <li><span><i class="glyphicon glyphicon-calendar"></i> {{moment(p.timestamp).calendar()}} </span></li>

                <li>
                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                    <span><i class="fa fa-facebook-square"></i></span>
                    <span><i class="fa fa-twitter-square"></i></span>
                    <span><i class="fa fa-google-plus-square"></i></span>
                </li>
            </ul>
        </div>
    </div>
</ul>
