{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<head>
<% block head%>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<% endblock %>
</head>



{% block app_content %}
{% include '_post.html' %}
    {% for comment in p.comments  %}
        {% include '_comments.html' %}
    {% endfor %}

    {% if current_user.can(Permission.COMMENT) %}
        {%if form%}
            {{ wtf.quick_form(form) }}
        {% endif %}
    {% endif %}

{% endblock %}






{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown()}}
{% endblock %}